*{
    padding: 0%;
    margin: 0%;
}
header{
    padding: 10px;
    margin: 10px;
    background-color: #202020;
 color: #fff;
 border-top: 3px red solid;
 border-style: dashed;
 border-right: 3px red solid;
 border-left: 3px red solid;
 border-bottom: 10px red solid;
}